/*
"This CSS file contains common styles for the entire page."
*/

* {
    padding: 0;
    margin: 0;
}

/*
"Collection of common CSS."
*/

.flex-center {
    display: flex;

    justify-content: center;

    align-items: center;
}

.common_header {
    /*
    "The header is responsible for the section where the logo will be placed, and if there are any additional items besides the logo, you can add the content within a div."
    */
    
        display: flex;
        
        padding: 0 1vw;
        
        background-color: beige;
        height: 10vh;
    
        align-items: center;
        justify-content: space-between;
    
    
    }